h1{
    color: #1d2db8;
    font-weight: bolder;
    font-size:70px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: large;
}

body{
    background-color: #ffffe8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px 50px 50px 50px ;
}

a{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}